@page "/stocks/{Ticker}"
@inherits StocksBase
@inject HttpClient _httpClient


@if (!IsAuthenticated)
{
    <h1>You are not authorized to access this page</h1>
}
else
{
@if (Stock == null)
{
    if (ErrorMessage != null)
    {
        <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
    }
    else
    {
        <Spinner/>
    }
}

else
{
    <div class="row">
        <h3 class="col-10 mb-5">Company</h3>
        @if (Watchlist.SingleOrDefault(e => e.TickerSymbol == Ticker) == null)
        {
            <div class="col-2">
                <button @onclick="@AddToWatchList" class="btn btn-primary">Add to watchlist</button>
            </div>
        }
        else
        {
            <div class="col-2">
                <button @onclick="@AddToWatchList" class="btn btn-primary" disabled>Add to watchlist</button>
            </div>
        }
    </div>

    <div class="row me-4">

        <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
            @if (Stock.ImgUrl != null)
            {
                <img width="250" src="@Stock.ImgUrl" alt="">
            }
            else
            {
                <img width="250" src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png" alt="">
            }
        </div>

        <div class="col-md-8 mb-4 px-5">
            <h3>@Stock.Name</h3>
            <div>
                <p>@Stock.Description</p>
            </div>
        </div>


        <div class="row mt-5 mx-5">
            @if (Stock.HomepageUrl != null)
            {
                <div class="col-md-6 mb-5">
                    <h4>Homepage</h4>
                    <a rel="stylesheet" href=@Stock.HomepageUrl target="_blank">@Stock.HomepageUrl</a>
                </div>
            }

            @if (Stock.IndustrialClassification != null)
            {
                <div class="col-md-6 mb-5">
                    <h4>Industrial classification</h4>
                    @Stock.IndustrialClassification
                </div>
            }
            @if (Stock.ListDate != null)
            {
                <div class="col-md-6 mb-5">
                    <h4>Created</h4>
                    @DateOnly.FromDateTime(Stock.ListDate.Value)
                </div>
            }
            @if (Stock.MarketIdentifier != null)
            {
                <div class="col-md-6 mb-5">
                    <h4>Primary exchange</h4>
                    @Stock.MarketIdentifier
                </div>
            }
        </div>

    </div>

    <div>
        <Chart Ticker="@Stock.TickerSymbol"></Chart>
    </div>
}
@code
{
    private async void AddToWatchList()
    {
        await UserService.AddToWatchlist(Username, Ticker);
        Watchlist = await UserService.GetWatchlistAsync(Username);
        StateHasChanged();
    }
}}