@page "/stocks/{Ticker}"
@using System.Reflection.Metadata
@inherits StocksBase
@inject NavigationManager _navigationManager


@if (Stock == null && ErrorMessage == null)
{
    <div class="spinner">
        <SfSpinner Visible="true"></SfSpinner>
    </div>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <div class="row">
        <h3 class="col-10 mb-5">Dashboard</h3>
        <div class="col-2">
            <a @onclick="@AddToWatchList" class="btn btn-primary">Add to watchlist</a>

            @code {

                private void AddToWatchList()
                {
                    _navigationManager.NavigateTo($"/stocks/AAPL");

                // _stockService.GetStockInfo("AAPL");
                }

            }

        </div>
    </div>

    <div class="row ms-4 me-4">
        @if (Stock.ImgUrl != null)
        {
            <div class="col-md-4 mb-4">

                <div class="logo">
                    <img class="img-fluid" width="250" src="@Stock.ImgUrl">
                </div>

            </div>
        }
        <div class="col-md-8 mb-4">
            <h3>@Stock.Name</h3>
            <p class="mb-4">@Stock.Description</p>
        </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                @if (Stock.HomepageUrl != null)
                {
                    <div class="mb-4">
                        <h4>Homepage</h4>
                        <a rel="stylesheet" href=@Stock.HomepageUrl target="_blank">@Stock.HomepageUrl</a>
                    </div>
                }

                @if (Stock.IndustrialClassification != null)
                {
                    <div class="mb-4">
                        <h4>Industrial classification</h4>
                        @Stock.IndustrialClassification
                    </div>
                }
            </div>
            <div class="col-md-6 mb-4">
                @if (Stock.ListDate != null)
                {
                    <div class="mb-4">
                        <h4>Created</h4>
                        @DateOnly.FromDateTime(Stock.ListDate.Value)
                    </div>
                }
                @if (Stock.PrimaryExchange != null)
                {
                    <div class="mb-4">
                        <h4>Primary exchange</h4>
                        @Stock.PrimaryExchange
                    </div>
                }
            </div>
        </div>

    <div>
        <Chart Ticker="@Stock.TickerSymbol"></Chart>
    </div>
}