@page "/stocks/{Ticker}"
@inherits StocksBase
@inject HttpClient _httpClient


@if (!IsAuthenticated)
{
    <h1>You are not authorized to access this page</h1>
}
else
{
@if (Stock == null)
{
    if (ErrorMessage != null)
    {
        <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
    }
    else
    {
        <p>Loading...</p>
    }
}

else
{
    <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out!
    </div>

    <div class="row">
        <h3 class="col-10 mb-5">Dashboard</h3>
        <div class="col-2">
            <AddToWatchListButton Ticker=@Stock.TickerSymbol></AddToWatchListButton>
        </div>
    </div>

    <div class="row me-4">
        @if (Stock.ImgUrl != null)
        {
            <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
                <img width="250" src="@Stock.ImgUrl" alt="">
            </div>
        }
        <div class="col-md-8 mb-4">
            <h3>@Stock.Name</h3>
            <p class="mb-4">@Stock.Description</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            @if (Stock.HomepageUrl != null)
            {
                <div class="mb-4">
                    <h4>Homepage</h4>
                    <a rel="stylesheet" href=@Stock.HomepageUrl target="_blank">@Stock.HomepageUrl</a>
                </div>
            }

            @if (Stock.IndustrialClassification != null)
            {
                <div class="mb-4">
                    <h4>Industrial classification</h4>
                    @Stock.IndustrialClassification
                </div>
            }
        </div>
        <div class="col-md-6 mb-4">
            @if (Stock.ListDate != null)
            {
                <div class="mb-4">
                    <h4>Created</h4>
                    @DateOnly.FromDateTime(Stock.ListDate.Value)
                </div>
            }
            @if (Stock.PrimaryExchange != null)
            {
                <div class="mb-4">
                    <h4>Primary exchange</h4>
                    @Stock.PrimaryExchange
                </div>
            }
        </div>
    </div>

    <div>
        <Chart Ticker="@Stock.TickerSymbol"></Chart>
    </div>
}
}